* {
    margin: 2px;
}

body {

    
    font-size: 24px;
    color: white;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color:white;
   

}
.flex-main {
    display: flex;
    flex: 3 3;
    text-align: center;
    font-size:xx-large;
    
}

.flex-header {

    background-color: black;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.flex-header img {
    float: center;
    width: 100%;
    height: 100px;
    background: white;
  }
.flex-nav {

    background-color:black;
    padding-top: 10rem;
    flex: 1 ;
   
}
.flex-article {

    background-color: black;
    padding-top: 3rem;
    flex : 3 3;
   
}
.flex-footer {

    background-color: black;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.flex-nav-ul {
    
    list-style-type:none ;
    direction: rtl;
    
}
@media all and (max-width:540px) {
    .flex-main {
        flex-direction: column;

    }
}